
      <nav class="navbar footer">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="myFooter">
            <ul class="nav navbar-nav">
              <li>© 2017 Jillian Boshart</li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</html>