<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <% if (loggedIn) { %>
      <li><a href="/logout">Sign Out</a></li>
      <% } else { %>
      <li><a href="/auth/google">Sign In</a></li>
      <% } %>
    </ul>
  </body>
</html>
