<%- include('./_header') %>

<% if (!loggedIn) { %>
  <p>Welcome to Washington State Thespians Registration! To continue, please <a href="auth/google">sign in</a>.</p>
<% } else { %>
  <% if (user.user_level === 1) { %>
    <p>Admin stuff goes here.</p>
    <div class="conference-list">
      <% if (conferences.length !== 0) { %>
        <p>This will be a box, that lists all conferences, and links to view/edit each individual conference</p>
        <p>There will also be a link to add a conference.</p>
      <% } else { %>
        <p>There are no conferences to list, so there will be a message prompting the admin user to create a conference with a handy link.</p>
      <% } %>
    </div>
  <% } %>
  <p>Regular user stuff goes here.</p>
<% } %>

<%- include('./_footer') %>
